@import "../app.component.scss";

#navbar-container {
  position: fixed;
  bottom: 2vh;
  left: 0;
  right: 0;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  gap: 1vw;
  align-items: center;
  justify-content: center;
  background-color: var(--contrast-color);
  padding: 2rem;
  border-radius: 0.5rem;
}

.nav-item {
  width: 8vw;
  color: var(--gray-color);
  font-size: 2vw;
  font-family: "Nunito", sans-serif;
  text-align: center;
  cursor: pointer;
}

.nav-selected-bar {
  position: fixed;
  bottom: 2.5vh;
  left: 36.5vw;
  width: 8vw;
  height: 0.5vh;
  transform: translateX(-50%);
  transition: left 250ms ease-in-out;
  background-color: var(--green-color);
}
