<div id="navbar-container">
  <div class="navbar">
    <div
      class="nav-item"
      *ngFor="let navItem of linkTitles; index as i"
      [ngClass]="{ 'nav-selected': selectedIndex === i }"
      (click)="setSelectedIndex(i)"
    >
      <p *ngIf="iconify; then navTextDisplay; else navIconDisplay"></p>
      <ng-template #navIconDisplay>
        <mat-icon aria-hidden="false" aria-label="navItem.text">
          {{ navItem.icon }}
        </mat-icon>
      </ng-template>
      <ng-template #navTextDisplay> {{ navItem.text }} </ng-template>
    </div>
  </div>
</div>
<div
  class="nav-selected-bar"
  [ngStyle]="{ 'left.vw': calculateBarOffset() }"
></div>
