@import "../app.component.scss";

#theme-switcher-themes {
  position: absolute;
  right: 0;
  bottom: 8vh;
  width: 10vh;
  padding: 1vh 2vh;
  overflow: hidden;
  background-color: var(--contrast-color);
  border-radius: 0.5rem;
  text-align: right;
  transition: all 500ms ease-in-out;
}

#theme-switcher-themes.collapsed {
  width: 0;
  padding: 0;
}

#theme-switcher-themes p {
  margin: 1vh 0vh;
  font-family: "Nunito", sans-serif;
  font-size: 1.25rem;
}

#theme-switcher-btn {
  position: absolute;
  right: 2vh;
  bottom: 2vh;
}
